@font-face {
    font-family: 'Li Xuke';
    src: url('assets/fonts/LiXuke.ttf');
}

#app {
    width: 1000px;
    margin: auto;
    transform-origin: top center;
}

@media (min-width: 1200px) {
    #app {
        transform: scale(1.2);
    }
}

@media (min-width: 1500px) {
    #app {
        transform: scale(1.5);
    }
}

@media (min-width: 2000px) {
    #app {
        transform: scale(2.0);
    }
}

.title{
    font-family: 'Li Xuke', system-ui;
    width: 100%;
    text-align: center;
    text-shadow: gray 5px 5px 5px;
}

.disc{
    display: flex;
    .disc-content{
        text-align: center;
        line-height: 2;
        padding: 10px;
    }
}

.support{
    .support-title{
        text-align: center;
    }
    .support-items{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        text-align: center;

        .support-content{
            margin-top: 16px;
            font-weight: bold;
        }
    }
}